.block {
    height: 700px;
    width: 400px;
    border: 1px solid #282c34;
    margin: 20px;
    display: inline-block;
    /*float: left;*/
}
.country-block {
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: auto;
    font-size: 1.2rem;
}
.country-name {
    padding: 0 10px;
}
.country-name:hover {
    border: 1px solid #282c34;
}