.Info-block {
    display: inline-block;
    border: 1px solid #282c34;
    width: 50%;
}

.Info {
    height: 700px;
    width: 400px;
    float: left;
    padding: 0 20px;
}
.title-name {
    font-size: 42px;
    font-weight: 400;
}

.capital {
    font-size: 22px;
}
.border {
    padding: 20px 0;
}
.block-img {
    float: right;
    width: 400px;
    padding: 20px 0;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}
.img-wrap {
    width: 300px;
    height: 150px;
}